simplealertdialog/bin
simplealertdialog/gen
simplealertdialog-samples/demos/bin
simplealertdialog-samples/demos/gen
simplealertdialog-tests/bin
simplealertdialog-tests/gen
local.properties
private.properties
*.keystore
.gradle/
build/
target/
.idea/
*.iml
