language: android
android:
  components:
    - build-tools-20.0.0
    - build-tools-19.1.0
    - tools
    - android-19
    - system-image
    - extra-android-support
    - extra-android-m2repository
  licenses:
    - 'android-sdk-license-.+'
    - android-sdk-preview-license-52d11cd2
before_script:
    - echo no | android create avd --force -n test -t android-19 --abi default/armeabi-v7a
    - emulator -avd test -no-skin -no-audio -no-window &
    - android-wait-for-emulator
script:
    - travis_retry ./gradlew build :simplealertdialog:connectedCheck
after_success:
    - ./gradlew -p simplealertdialog -b simplealertdialog/coverage.gradle coveralls