language: android
android:
  components:
    - build-tools-22.0.1
    - tools
    - android-19
    - system-image-armeabi-v7a-android-19
    - extra-android-support
    - extra-android-m2repository
  licenses:
    - 'android-sdk-license-.+'
before_script:
    - echo no | android create avd --force -n test -t android-19 --abi default/armeabi-v7a
    - emulator -avd test -no-skin -no-audio -no-window &
    - android-wait-for-emulator
script:
    - travis_retry ./gradlew build :simplealertdialog:connectedCheck
after_success:
    - ./gradlew :simplealertdialog:coveralls
